<% layout(layout_directory+'/mainLayout') -%>

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <!-- <h2 class="content-header-title mb-0"><%= page_title %></h2> -->
                        <h2><%= page_title %></h2>
                        <!-- <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="<%= generateUrl('testimonial.list') %>">Testimonial</a>
                                </li>
                                <li class="breadcrumb-item active"> <%= page_title %>
                                </li>
                            </ol>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- <div class="card-header border-bottom">
                            <h4 class="card-title"></h4>
                        </div> -->
                        <div class="card-body py-2">
                            <!-- form -->
                            <form class="validate-form" id="addTestimonialForm" action="<%= generateUrl("testimonial.insert") %>" method="POST" enctype='multipart/form-data'>
                                <div class="row">
                                    <div class="col-6 col-sm-6 mb-1">
                                        <label class="form-label" for="name">Name</label><span style="color: red;"> *</span>
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter Testimonial Name" value="">
                                    </div>
                                    <div class="col-6 col-sm-6 mb-1">
                                        <label class="form-label" for="rating">Rating(1-5)</label><span style="color: red;"> *</span>
                                        <input type="number" class="form-control" name="rating" id="rating" min="1" max="5" placeholder="Enter Testimonial Rating" value="">
                                    </div>
                                </div>    
                                <div class="row">    
                                    <div class="col-12 col-sm-12 mb-1">
                                        <label class="form-label" for="message">Message</label><span style="color: red;"> *</span>
                                        <textarea name="message" rows="10" id="message" class="form-control ckeditor"></textarea>
                                        <!-- <input type="text" class="form-control" name="answer" id="answer" placeholder="Answer" value=""> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 col-sm-6 mb-1">
                                        <div class="mb-1">
                                            <!-- upload and reset button -->
                                            <a class="me-25">
                                                <img src="/uploads/noImage.png" id="account-upload-img" class="uploadedAvatar rounded me-50" style="max-width: 100px; max-height: 100px;" />
                                            </a>
                                            <label for="account-upload" class="btn btn-sm btn-primary mb-75 me-75 form-label">Upload Image</label>
                                            <input type="file" name="image" id="account-upload" class="imageupload" hidden accept="image/*" />
                                            <button type="button" id="account-reset" class="btn btn-sm btn-outline-secondary mb-75 d-none">Reset</button>
                                            <p class="mb-0">Upload image file only.<span style="color: red;"> *</span></p>
                                            <p id="lblError" class="mt-2" style="color: red;"></p>
                                            <!--/ upload and reset button -->
                                        </div>
                                    </div>
                                </div> 


                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-1">
                                        <button type="submit" class="btn btn-primary mt-1 me-1">Add</button>
                                        <button type="reset" class="btn btn-outline-secondary mt-1 me-1">Discard</button>
                                        <a type="reset" class="btn btn-outline-danger mt-1" href="<%= generateUrl("testimonial.list") %>">Back</a>
                                    </div>
                                </div>
                            </form>
                            <!--/ form -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<style>
    .ql-editor {
        height: 150px;
    }
</style>