<% layout(layout_directory+'/mainLayout') -%>

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <!-- <h2 class="content-header-title mb-0"><%= page_title %></h2> -->
                        <h2><%= page_title %></h2>
                        <!-- <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="<%= generateUrl('skill.list') %>">Skill</a>
                                </li>
                                <li class="breadcrumb-item active"> <%= page_title %>
                                </li>
                            </ol>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- <div class="card-header border-bottom">
                            <h4 class="card-title"></h4>
                        </div> -->
                        <div class="card-body py-2">
                            <!-- form -->
                            <form class="validate-form" id="skillForm" action="<%= generateUrl("skill.insert") %>" method="POST" enctype='multipart/form-data'>
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-1">
                                        <label class="form-label" for="skill">Skill Name</label><span style="color: red;"> *</span>
                                        <input type="text" class="form-control" name="skill" id="skill" placeholder="Skill Name" value="">
                                    </div>
                                    <div class="col-12 col-sm-6 mb-1">
                                        <label class="form-label" for="category">Category</label><span style="color: red;"> *</span>
                                        <select name="category" id="category" class="form-control">
                                            <option disabled selected>Please Choose A Category</option>
                                            <% allCategories.map(data => { %>
                                                <option value="<%= data._id %>"><%= data.categoryName %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary mt-1 me-1">Add</button>
                                        <button type="reset" class="btn btn-outline-secondary mt-1">Discard</button>
                                        <a type="reset" class="btn btn-outline-danger mt-1" href="<%= generateUrl("skill.list") %>">Back</a>
                                    </div>
                                </div>
                            </form>
                            <!--/ form -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<style>
    .ql-editor {
        height: 150px;
    }
</style>