<% layout(layout_directory+'/mainLayout') -%>
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/maps/leaflet.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/maps/map-leaflet.css">

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">Security</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="<%= generateUrl('user.dashboard') %>">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item"><a href="<%= generateUrl('admin.profile', {id: user._id})%>">Settings</a>
                                </li>
                                <li class="breadcrumb-item active"> <%= page_title %>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-pills mb-2">
                        <!-- account -->
                        <li class="nav-item">
                            <a class="nav-link" href="<%= generateUrl('admin.profile', {id: user._id})%>">
                                <i data-feather="user" class="font-medium-3 me-50"></i>
                                <span class="fw-bold">Account</span>
                            </a>
                        </li>
                        <!-- security -->
                        <li class="nav-item">
                            <a class="nav-link active" href="<%= generateUrl('admin.security', {id: user._id})%>">
                                <i data-feather="lock" class="font-medium-3 me-50"></i>
                                <span class="fw-bold"><%= page_title %></span>
                            </a>
                        </li>
                    </ul>

                    <!-- security -->

                    <div class="card">
                        <div class="card-header border-bottom">
                            <h4 class="card-title">Change Password</h4>
                        </div>
                        <div class="card-body pt-1">
                            <!-- form -->
                            <form class="validate-form" id="adminChangePassword" action="<%= generateUrl('admin.updateAdminPassword')%>" method="post" enctype="application/x-www-form-urlencoded">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-1">
                                        <label class="form-label" for="account-old-password">Current password</label>
                                        <div class="input-group form-password-toggle input-group-merge">
                                            <input type="password" class="form-control" id="account-old-password" name="old_password" placeholder="Enter current password" data-msg="Please current password" />
                                            <div class="input-group-text cursor-pointer">
                                                <i data-feather="eye"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-1">
                                        <label class="form-label" for="account-new-password">New Password</label>
                                        <div class="input-group form-password-toggle input-group-merge">
                                            <input type="password" id="account-new-password" name="password" class="form-control" placeholder="Enter new password" />
                                            <div class="input-group-text cursor-pointer">
                                                <i data-feather="eye"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 mb-1">
                                        <label class="form-label" for="account-retype-new-password">Retype New Password</label>
                                        <div class="input-group form-password-toggle input-group-merge">
                                            <input type="password" class="form-control" id="account-retype-new-password" name="confirm-new-password" placeholder="Confirm your new password" />
                                            <div class="input-group-text cursor-pointer"><i data-feather="eye"></i></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <p class="fw-bolder">Password requirements:</p>
                                        <ul class="ps-1 ms-25">
                                            <li class="mb-50">Minimum 8 characters long - the more, the better</li>
                                            <!-- <li class="mb-50">At least one lowercase character</li>
                                            <li>At least one number, symbol, or whitespace character</li> -->
                                        </ul>
                                    </div>
                                    <input type="hidden" name="id" value="<%= response._id %>">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary me-1 mt-1">Save changes</button>
                                        <button type="reset" class="btn btn-outline-secondary mt-1">Discard</button>
                                    </div>
                                </div>
                            </form>
                            <!--/ form -->
                        </div>
                    </div>

                    <!-- recent device -->
                    <!-- <div class="card">
                        <div class="card-header border-bottom">
                            <h4 class="card-title">Connected Devices</h4>
                        </div>
                        <div class="card-body my-2 py-25">
                            <div class="table-responsive">
                                <%
                                    response.userdevices = response.userdevices.map(item=>{return (!item.expired)?item:null});
                                    response.userdevices = _.without(response.userdevices, null);
                                %>
                                <% if (response.userdevices && response.userdevices.length) {%>
                                <table class="table table-bordered text-nowrap text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-start">BROWSER</th>
                                            <th>IP</th>
                                            <th>LOCATION</th>
                                            <th>CREATED ON</th>
                                            <th>RECENT ACTIVITY</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% allDevices = []; for (let device of response.userdevices) {%>
                                        <% if (!device.expired) {%>
                                        <% deviceInfo = '';
                                            if (device.browserInfo && device.browserInfo.name) {
                                                deviceInfo = device.browserInfo.name + (device.browserInfo.version? " (" + device.browserInfo.version + ")":"");
                                            }

                                            if (device.deviceInfo && (device.deviceInfo.vendor || device.deviceInfo.model || device.deviceInfo.type)) {
                                                if (deviceInfo.length) {
                                                    deviceInfo += '<br>'
                                                }

                                                if (device.deviceInfo.vendor) {
                                                    deviceInfo += ('<b>Vendor:</b> ' + device.deviceInfo.vendor + " ");
                                                }

                                                if (device.deviceInfo.model) {
                                                    deviceInfo += ('<b>Model:</b> ' + device.deviceInfo.model + " ");
                                                }

                                                if (device.deviceInfo.type) {
                                                    deviceInfo += ('<b>Type:</b> ' + device.deviceInfo.type + " ");
                                                }
                                            }

                                            if (device.operatingSystem && device.operatingSystem.name) {
                                                if (deviceInfo.length) {
                                                    deviceInfo += '<br>'
                                                }

                                                deviceInfo += ('<b>OS:</b> ' + device.operatingSystem.name + (device.operatingSystem.version?" " + device.operatingSystem.version:''));
                                            }

                                            location = '';
                                            if (device.city) {
                                                location = (device.city + ' ');
                                            }
                                            if (device.state) {
                                                if (location.length) {
                                                    location += ', ';
                                                }
                                                location += (device.state + ' ');
                                            }
                                            if (device.country) {
                                                if (location.length) {
                                                    location += ', ';
                                                }
                                                location += (device.country + ' ');
                                            }

                                            lat = ''; long = '';
                                            if (device.ip_lat) {
                                                lat = device.ip_lat;
                                            }

                                            if (device.ip_long) {
                                                long = device.ip_long;
                                            }

                                            if (device.access_token == current_token) {
                                                deviceInfo += '<br><button type="button" class="btn btn-outline-secondary mt-1" style="cursor: default !important;"><i>Current Device</i></button><input type="hidden" id="current_device_name" value="' + deviceInfo + '">'
                                            } else {
                                                deviceInfo += `<br><button type="button" data-url="${generateUrl('admin.security', {id: user._id})}" data-location="${generateUrl('user.revoke_access', {id: user._id, access: device._id})}" class="btn btn-outline-secondary mt-1 revoke_access">Revoke Access</button>`;
                                                allDevices.push({
                                                    device: deviceInfo,
                                                    lat: lat,
                                                    long: long
                                                });
                                            }
                                        %>
                                        <tr>
                                            <td class="text-start">
                                                <span><%- deviceInfo %></span> 
                                            </td>
                                            <td><%- device.ip?device.ip + (device.timezone? "<br>(" + device.timezone + ")":''):'N/A' %></td>
                                            <td><%= location.length?location:'N/A' %></td>
                                            <td><%= device.createdAt?moment(device.createdAt).format('Do of MMMM, YYYY - hh:mm A Z'):'N/A' %></td>
                                            <td><%= device.last_active?moment(device.last_active).format('Do of MMMM, YYYY - hh:mm A Z'):'N/A' %></td>
                                        </tr>
                                        <% } %>
                                        <% } %>
                                        <input type="hidden" id="allDevices" value="<%= JSON.stringify(allDevices) %>">
                                    </tbody>
                                </table>
                                <% } else { %>
                                    <p>No Record Available</p>
                                <% } %>
                            </div>
                        </div>
                    </div> -->
                    <!-- / recent device -->

                    <!--/ security -->
                </div>
            </div>

            <!-- <section class="maps-leaflet">
                <div class="row"> -->
                    <!-- User Location Starts -->
                    <!-- <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4 class="card-title">Device Locations</h4>
                            </div>
                            <div class="card-body">
                                <div class="leaflet-map" id="user-location"></div>
                            </div>
                        </div>
                    </div> -->
                    <!-- /User Location Ends -->
                <!-- </div>
            </section> -->
        </div>
    </div>
</div>
<!-- END: Content-->

<!-- BEGIN: Page Vendor JS-->
<script src="/app-assets/vendors/js/maps/leaflet.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Page JS-->
<script src="/js/pages/adminSecurityMaps.js"></script>
<!-- END: Page JS-->